.slider-container {
  top: 3rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background-color: #e7e7e71a;
  padding: 0.5rem;
  mask-image: linear-gradient(
    90deg,
    transparent,
    #000 30%,
    #000 70%,
    transparent
  );
  backdrop-filter: blur(5px);
  user-select: none;
}
.slider-container.light {
  background-color: #00000063;
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.781),
    #000 30%,
    #000 70%,
    rgba(0, 0, 0, 0.664)
  );
}


.slider {
  display: flex;
  gap: 30px;
  animation: slide 25s linear infinite;
  width: max-content;
}
.dot-spacing {
  aspect-ratio: 1;
  width: 7px;
  margin-top: 2px;
  border-radius: 50%;
  margin-left: 20px;
  background-color: rgb(167, 167, 167);
 
}
.light .dot-spacing {
  background-color: white;
}
.text-item {
  font-size: 1.2rem;
  border-radius: 5px;
  color: rgb(185, 185, 185);
  font-family: "Modernist-Regular";
  display: flex;
  flex-direction: row;
  align-items: center;
}
.light .text-item {
  color: white;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media (max-width: 768px) {
  .slider-container {
    mask-image: linear-gradient(
    90deg,
    transparent,
    #000 10%,
    #000 90%,
    transparent
  );
  }
}
