.about-section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
}
.about-section .section-title {
  display: flex;
  flex-direction: row;
  align-items: last baseline;
  padding-left: 10%;
}
.about-section .section-content {
  margin: 3%;
  display: flex;
  flex-direction: row;
}

.about-section .left-side,
.about-section .right-side {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  margin-right: 3%;
}

.about-section h1 {
  margin: 0;
  font-family: "Modernist-Bold";
}

.line {
  flex-grow: 1; /* Makes the line stretch to fill the available space */
  height: 0.5px;
  background-color: #ffffffa2;
  margin-left: 2%;
  margin-right: 2rem; /* 20px space at the end */
}
@media (max-width: 768px) {
    .about-section {
        margin-top: 50%;
    }
  .about-section .section-content {
    margin: 3%;
    display: flex;
    flex-direction: column;
  }
}
