.about-section, .project-section, .contact-section {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  
  /* height: 100vh; */
}
.about-section .underline-name img {
  top: 20px;
  height: 60%;
}
.about-section .section-title, .project-section .section-title, .contact-section .section-title {
  display: flex;
  flex-direction: row;
  align-items: last baseline;
  padding-left: 10%;
  font-family: "Modernist-Bold", Arial, Helvetica, sans-serif;
}
.about-section .section-content, .project-section .section-content {
  margin: 3%;
  /* padding: 0 3%; */
  display: flex;
  flex-direction: row;
  align-items: self-start;
  justify-content: center;
}

.about-section .left-side, .project-section .left-side,
.about-section .right-side {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 3%;
  font-family: "Modernist-Regular";
}
.about-section .right-side {
  width: 30%;
}
.intro {
  text-align: justify;
  padding-left: 3%;
  padding-right: 3%;
}
.yellow-highlight {
  color: rgba(255, 255, 0, 0.712);
}
.alinea {
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-flex;
  width: 36px; /* Box width */
  height: 36px; /* Box height */
  align-items: center;
  justify-content: center;
  border-radius: 6px; /* Rounded corners */
  background-color: #333; /* Dark background for the box */
  color: #ddd;
  margin-right: 10px;
}
.link {
  color: rgba(255, 255, 0, 0.712);
}

.about-section h1 {
  margin: 0;
  font-family: "Modernist-Bold";
}
.image-wrapper {
  position: relative;
  display: inline-block;
}

.image {
  width: 350px;
  border-radius: 10px;
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: 270px; 
  right: -100px; 
  width: 200px;
  height: 100px;
  /* background-color: rgba(189, 0, 0, 0.5); */
  filter: blur(30px);
  border-radius: 50%;
  z-index: -1; 
}

.whatido-title {
  font-family: "Modernist-Bold";
  font-size: x-large;
  color: #d4d4d4;
  margin: 20px 0;
}
.whatido {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start;
  max-width: 400px;
}

.whatido-item {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #0a0a0a70;
  font-size: 1.1rem;
}
.dev {
  border: 1px solid rgba(255, 0, 0, 0.795);
}
.design {
  border: 1px solid rgba(255, 255, 0, 0.712);
}
@media (max-width: 768px) {
 
  .whatido {
    width: 100%;
  }
  .whatido-item {
    font-size: 1rem;
  }
  .about-section .section-content,.project-section .section-content {
    margin: 3%;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
  }
  .about-section .left-side,.project-section .left-side,
  .about-section .right-side {
    width: 90%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .intro {

    margin-left: -5% !important;
    padding-right: 3% !important;
    font-size: 1.1rem !important;
  }

  .image {
    width: 300px;
  }
}

