.about-section {
  
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
}
.about-section .underline-name img {
  top: 20px;
  height: 60%;
  
}
.about-section .section-title {
  display: flex;
  flex-direction: row;
  align-items: last baseline;
  padding-left: 10%;
}
.about-section .section-content {
  margin: 3%;
  display: flex;
  flex-direction: row;
}


.about-section .left-side,
.about-section .right-side {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  margin-right: 3%;
  font-family: "Modernist-Regular";
 
}
.intro {
  text-align: justify;
}
.alinea {
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-flex;
  width: 36px; /* Box width */
  height: 36px; /* Box height */
  align-items: center;
  justify-content: center;
  border-radius: 6px; /* Rounded corners */
  background-color: #333; /* Dark background for the box */
  color: #ddd;
  margin-right: 10px;
}
.link {
  color: rgba(255, 255, 0, 0.712);
}

.about-section h1 {
  margin: 0;
  font-family: "Modernist-Bold";
}
.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-circle {
  width: 400px;
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: 250px; /* Moves the white circle up */
  right: 100px; /* Moves the white circle to the right */
  width: 200px; 
  height: 100px;
  background-color: rgba(189, 0, 0, 0.5);
  filter: blur(30px);
  border-radius: 50%;
  z-index: -1; /* Places it below the image */
}

.whatido-title {
  font-family: "Strretch";
  font-size: x-large;
  color: #d4d4d4;
  margin: 20px 0;
}
.whatido {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start;
}

.whatido-item {
  padding: 5px 10px ;
  border-radius: 5px;
  background-color: #0a0a0a70;

  
}
.dev {
  border: 1px solid rgba(255, 0, 0, 0.795);
}
.design {
  border: 1px solid rgba(255, 255, 0, 0.712);
}

@media (max-width: 768px) {
    .about-section {
        margin-top: 50%;
    }
  .about-section .section-content{
    margin: 3%;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
  }
  .about-section .left-side, .about-section .right-side {
    width: 87%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

  .image-circle {
    width: 370px;
    margin-left: -3%;
  }
}
/* @media (max-width: 960px) {
  .about-section .section-content {
    display: flex;
    flex-direction: column;
  }
  .about-section .left-side {
    display: flex;
    justify-content: center; 
    width: 100%; 
  }
  .image-circle {
    display: block; 
    margin: 0 auto; 
  }
} */