.slider-container {
  top: 3rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background-color: #ffffff17;
  padding: 0.5rem;
  backdrop-filter: blur(10px);
  /* transform: rotate(-5deg); */
}

.slider {
  display: flex;
  gap: 30px; /* Adjust spacing between items */
  animation: slide 15s linear infinite;
  width: max-content; /* Ensure the content flows smoothly */
}
.dot-spacing {
  width: 5px;
  height: 5px;
  margin-top: 2px;
  border-radius: 50%;
  margin-left: 20px;
  background-color: rgb(153, 153, 153);
}
.text-item {
  font-size: 1.2rem;
  border-radius: 5px;
  color: rgb(153, 153, 153);
  font-family: "Modernist-Regular";
  display: flex;
  flex-direction: row;
  align-items: center ;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media (max-width: 768px) {
  
}