.slider-container {
  /* top: -100px; */
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background-color: #ffffff4f;
  padding: 0.5rem;
  backdrop-filter: blur(10px);
  /* transform: rotate(-4deg); */
}

.slider {
  display: flex;
  gap: 30px; /* Adjust spacing between items */
  animation: slide 15s linear infinite;
  width: max-content; /* Ensure the content flows smoothly */
}

.text-item {
  font-size: 24px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-family: "Modernist-Regular";
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media (max-width: 768px) {
  
}