.slider-container {
  top: 3rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background-color: #ffffff17;
  padding: 0.5rem;
  backdrop-filter: blur(10px);
  mask-image: linear-gradient(
    90deg,
    transparent,
    #000 40%,
    #000 60%,
    transparent
  );
}
.slider {
  display: flex;
  gap: 30px;
  animation: slide 15s linear infinite;
  width: max-content;
}
.dot-spacing {
  aspect-ratio: 1;
  width: 20px;
  margin-top: 2px;
  border-radius: 50%;
  margin-left: 20px;
  background-color: rgb(104, 104, 104);
  clip-path: polygon(
    99.51% 56.96%,
    70.31% 60.8%,
    83.46% 87.16%,
    58.62% 71.33%,
    51.74% 99.97%,
    42.89% 71.87%,
    19.22% 89.4%,
    30.49% 62.19%,
    1.09% 60.4%,
    27.22% 46.8%,
    5.85% 26.53%,
    34.61% 32.91%,
    31.27% 3.64%,
    49.2% 27.01%,
    65.45% 2.45%,
    64.16% 31.88%,
    92.4% 23.5%,
    72.5% 45.22%
  );
}
.text-item {
  font-size: 1.2rem;
  border-radius: 5px;
  color: rgb(185, 185, 185);
  font-family: "Modernist-Regular";
  display: flex;
  flex-direction: row;
  align-items: center;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media (max-width: 768px) {
}
