.section-content-project {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.section-content-project .left-side {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center; /* Centers the grid items horizontally */
    align-items: center; /* Centers items vertically if needed */
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    text-align: justify;
}

.card-image {
    background-color: rgb(48, 48, 48);
    padding: 30px 20px 0px 20px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px 10px 0 0  ;
    border: 2px solid red;
}
.card-image img:hover {
    transform: translateY(-10px);
    transition: transform 0.3 ease-in-out;
}
.card-image img {
    transition: transform 0.3 ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    margin-bottom: -3px;
    overflow: hidden;
}

@media (max-width: 860px) {
    .section-content-project .left-side {
        display: flex;
        margin: 0 auto;
    }
    .card-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 300px;
    }
}