.skills-section {
  padding-top: 100px;
  
}

.skills-section .section-title {
  display: flex;
  flex-direction: row;
  align-items: last baseline;
  padding-left: 10%;
}
.skills-section .section-content {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.honey-comb-container {
  min-height: 40vh;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}
.first-hc, .second-hc, .third-hc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hexagon-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.05s ease-in-out;
}
.hexagon-container.frontend-skills,
.hexagon-container.backend-skills,
.hexagon-container.tools-skills,
.hexagon-container.design-skills {
  opacity: 1;
}
.skill-logo.frontend-skills,
.skill-logo.backend-skills,
.skill-logo.tools-skills,
.skill-logo.design-skills {
  opacity: 0.8 !important;
  scale: 1.2;
  transition: all 0.5s ease-in-out;
}
.hexagon.frontend-skills, .hexagon.backend-skills, .hexagon.tools-skills, .hexagon.design-skills {
  background: #42424250;
}

.hexagon-container.down-opacity {
  opacity: 0.35;
}
.hexagon-border {
  --b: 0.05rem;
  height: 90px;
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(
    0 50%,
    50% -50%,
    100% 50%,
    50% 150%,
    0 50%,
    var(--b) 50%,
    calc(25% + var(--b) * cos(60deg)) calc(100% - var(--b) * sin(60deg)),
    calc(75% - var(--b) * cos(60deg)) calc(100% - var(--b) * sin(60deg)),
    calc(100% - var(--b)) 50%,
    calc(75% - var(--b) * cos(60deg)) calc(var(--b) * sin(60deg)),
    calc(25% + var(--b) * cos(60deg)) calc(var(--b) * sin(60deg)),
    var(--b) 50%
  );
  background: #424242;
}

.hexagon {
  height: 90px; /* adjust to control the size  */
  margin-left: -104px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
}
.section-content .skill-logo {
  width: 40px;
  transition: all 0.1s ease-in-out;
  opacity: 0.5;
}
.hexagon-row {
  margin-top: -40px;
  display: flex;
  gap: 70px;
}
.margin {
  padding: 30px;
}

.hexagon {
  background-color: rgba(37, 37, 37, 0.295);
}
.third-line {
  margin-top: -43px;
}

.hexagon-container:hover {
  /* transform: scale(1.05); */
  transition: all 0.05s ease-in-out;
}
.filter-skills {
  
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 100px;
  justify-content: center;
}
.filter-skills-items {
  border: 0.5px solid yellow;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .test {
    width: 0;
  }
  .honey-comb-container {
    flex-direction: column;
    gap: 5rem;
  }
}
