.skills-section {
  /* padding-top: 110% */
}

.skills-section .section-title {
  display: flex;
  flex-direction: row;
  align-items: last baseline;
  padding-left: 10%;
}
.skills-section .section-content {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hexagon-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .05s ease-in-out;
}
.hexagon-border {
    
  --b: 0.05rem; /* adjust to control the border  */
  height: 90px; /* adjust to control the size  */
  aspect-ratio: 1/cos(30deg);
  clip-path: 
    polygon(0 50%,50% -50%,100% 50%,50% 150%,0 50%,
    var(--b) 50%,
    calc(25% + var(--b)*cos(60deg)) calc(100% - var(--b)*sin(60deg)),
    calc(75% - var(--b)*cos(60deg)) calc(100% - var(--b)*sin(60deg)),
    calc(100% - var(--b)) 50%,
    calc(75% - var(--b)*cos(60deg)) calc(var(--b)*sin(60deg)),
    calc(25% + var(--b)*cos(60deg)) calc(var(--b)*sin(60deg)),
    var(--b) 50%);
  background: #424242;
}
.section-content .hexagon{
  height: 90px; /* adjust to control the size  */
  margin-left: -104px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
}
.section-content .skill-logo {
  width: 40px;
  transition: all .1s ease-in-out;
  opacity: 0.5;
}
.hexagon-row {
  margin-top: -40px;
  display: flex;
  gap: 70px;
}
.margin {
  padding: 50px;
}

.hexagon {
  background-color: rgba(37, 37, 37, 0.295);
}
.third-line {
  margin-top: -43px;
}


.hexagon-container:hover {
  /* transform: scale(1.05); */
  transition: all .05s ease-in-out;
  /* filter: drop-shadow(0px 0px 15px rgba(59, 134, 134, 0.75)); */
  filter: drop-shadow(0px 0px 20px rgb(216, 13, 13));
}

@media (max-width: 768px) {
  .skills-section {
    margin-top: 100%;
  }
  /* .hexagon-row {
    margin-top: -50px;
    gap: 100px;
  }
  .section-content .hexagon{
    margin-left: -120px;
   
    height: 90px; 
   
  }

  
  .third-line {
    margin-top: -45px;
  }
  
  .hexagon-border {
    
    --b: 0.1rem; 
    aspect-ratio: 1/cos(30deg);
   
  } */
}