@font-face {
    font-family: 'Neue-Machina-Bold';
    src: url('/assets/Fonts/NeueMachina-Ultrabold.otf');
}
@font-face {
    font-family: 'Neue-Machina-Regular';
    src: url('/assets/Fonts/NeueMachina-Regular.otf');
}

@font-face {
    font-family: 'Neue-Machina-Light';
    src: url('/assets/Fonts/NeueMachina-Light.otf');
}

/* src/App.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dark {
    background-color: #1a1a1a;
    color: white;
    background-image: radial-gradient(rgb(78, 78, 78) 1px, transparent 0.5px);
  background-size: 30px 30px; /* Dot spacing */
  background-position: 0 0;
  }
  
  .light {
    background-color: #f4f4f4;
    color: black;
  }
  