/* src/App.css */
html, body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: start;
  /* align-items: center; */
}
.section h1 {
  font-size: 3rem;
  margin: 0;
  font-family: "Modernist-Regular";
}
.section h4 {
  font-size: 1rem;
  margin: 0;
  font-family: "Poppins-Light";
}

.container {
  background-color: #131313;
  color: white;
  background-image: radial-gradient(rgb(94, 94, 94) 1px, transparent 0.5px);
  background-size: 30px 30px;
  background-position: 0 0;
  position: sticky;
}
@keyframes animateBlur1 {
  0%, 100% {
    transform: translate(0, 0) scale(1);
    top: 0;
  }
  50% {
    top: 10%;
    opacity: 0.5;
    transform: translate(130px, -30px) scale(1.2);
  }
}

@keyframes animateBlur2 {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-30px, 20px) scale(1.3);
  }
}

.container::before {
  content: "";
  position: fixed;
  top: 10%;
  right: 15%;
  width: 200px;
  height: 200px;
  background-color: rgba(139, 125, 0, 0.692);
  border-radius: 50%;
  filter: blur(70px);
  z-index: -1;
  animation: animateBlur1 6s ease-in-out infinite alternate;
}

.container::after {
  content: "";
  position: fixed;
  top: 30%;
  right: 25%;
  width: 130px;
  height: 130px;
  background-color: rgb(189, 44, 0);
  border-radius: 50%;
  filter: blur(50px);
  z-index: -1;
  animation: animateBlur2 8s ease-in-out infinite alternate;
}
@media (max-width: 768px) {
  .container::before {
    top: 40%;
    right: 40%;
    width: 60px;
  height: 60px;
  filter: blur(50px);
  background-color: rgb(255, 208, 0);
  }
  .container::after {
    top: 20%;
    right: 40%;
    width: 100px;
  height: 100px;
  }
}

.light {
  background-color: #f4f4f4;
  color: black;
}
