@font-face {
    font-family: 'Neue-Machina-Bold';
    src: url('/assets/Fonts/NeueMachina-Ultrabold.otf');
}
@font-face {
    font-family: 'Neue-Machina-Regular';
    src: url('/assets/Fonts/NeueMachina-Regular.otf');
}

@font-face {
    font-family: 'Neue-Machina-Light';
    src: url('/assets/Fonts/NeueMachina-Light.otf');
}

.container {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    user-select: none;
    padding:10px;
}

.card {
    position: relative;
    width: 33%;
    height: 95vh;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
} 

.box {
    position: absolute;
    inset: 10px;
    background: black;
    border-radius: 20px;
}
.icon {
    position: absolute;
    width: 160px;
    height: 60px;
    background: white;
    border-bottom-right-radius: 30px;
    transition: 0.5s;
    
}
.icon::before {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 30px;
    height: 30px;
    background: black;
    border-top-left-radius: 20px;
    box-shadow: -8px -8px 0 white;
}
.icon::after{
    content: '';
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    background: black;
    border-top-left-radius: 20px;
    box-shadow: -8px -8px 0 white;
}
.iconBox{
    position: absolute;
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    top: -10px;
    inset: 0px;
    margin: 0px 10px 10px 0px;
    border-radius: 10px 10px 20px 10px;
    font-size: 1.5rem;
  
}
.lastname {
    font-family: 'Neue-Machina-Regular';
}
.firstname {
    font-family: 'Neue-Machina-Bold';
}
.circle {
    position: absolute;
    top: 70px;
    left: 170px;
    width: 400px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
}
.presentation {
    position: absolute;
    top: 500px;
    left: 50px;
    color: white;
}

.light-text {
    font-family: 'Neue-Machina-Light';
    font-size: 2.5rem;
    padding-bottom: 30px;
}
.light-text-name {
    font-family: 'Neue-Machina-Regular';
    font-size: 2.5rem;
}
.bold-text-name {
    font-family: 'Neue-Machina-Bold';
    font-size: 3.25rem;
}
.get-in-touch {
    position: absolute;
    bottom: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: white;
    border-radius: 30px;
    font-family: 'Neue-Machina-Light';
    font-size: medium;
}