.cursor-mask {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: rgb(189, 44, 0);
    border-radius: 50%;
    filter: blur(5px);
    z-index: -1;
    z-index: 9999;
    /* clip-path: polygon(24% 26%, 24% 77%, 35% 69%, 40% 81%, 46% 79%, 40% 65%, 48% 65%); */
  }
  @media (max-width: 768px) {
    .cursor-mask {
        display: none;
    }
  }