/* src/index.css (or Tailwind for styling) */

@font-face {
  font-family: "Modernist-Regular";
  src: url("/assets/Fonts/Sk-Modernist-Regular.woff");
}
@font-face {
  font-family: "Modernist-Bold";
  src: url("/assets/Fonts/Sk-Modernist-Bold.woff");
}
@font-face {
  font-family: "Modernist-Mono";
  src: url("/assets/Fonts/Sk-Modernist-Mono.woff");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("/assets/Fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("/assets/Fonts/Poppins-Thin.ttf");
}
@font-face {
  font-family: "Strretch";
  src: url("/assets/Fonts/Strretch.woff");
  font-stretch: 150%; 
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  scroll-snap-type: y mandatory;
  cursor: url('/assets/cursor.png'), auto !important;
  /* cursor: none; */
}
::selection {
  background: red;
  color: white;
}
/* Scrollbar width */
::-webkit-scrollbar {
  width: 15px; /* Adjust width */
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0); /* Blue background */
}

/* Scrollbar thumb (indicator) */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255); /* Red indicator */
  border-radius: 15px; /* Optional: Rounded edges */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255); /* Slightly darker red when hovered */
}

/* Firefox scrollbar customization */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(161, 161, 161) rgb(0, 0, 0);
}
