.particles-container {
    margin-top: 100px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .particle {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    animation: float infinite alternate ease-in-out;
  }
  
  @keyframes float {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-10px);
    }
  }
  